//=========use the variables here=========
//color
$primarycolor1: #d25864;
$primarycolor2: #d13c69;
$primarycolor3: #e9afb4;
$primarycolor4: #fbf7f7;

$basecolor1: #031126;
$basecolor2: #292032;
$basecolor3: #444a52;
$basecolor4: #5e6670;
$basecolor5: #95999f;
$basecolor6: #c9cdd1;
$basecolor7: #feeffe;

// body
$fontsizeh1: 16px;
$fontsizeh2: 18px;
$fontsizeh3: 24px;
$fontsizeh4: 36px;
$fontsizeh5: 48px;

$fontsizep1: 12px;
$fontsizep2: 14px;
$fontsizep3: 16px;

$fontfamily: "DM Sans", sans-serif;

.head-dsn-1 {
  color: $basecolor1;
  font-family: $fontfamily;
  font-size: $fontsizeh1;
  font-weight: bold;
}

.head-dsn-2 {
  color: $basecolor1;
  font-family: $fontfamily;
  font-size: $fontsizeh2;
  font-weight: bold;
}

.head-dsn-3 {
  color: $basecolor1;
  font-family: $fontfamily;
  font-size: $fontsizeh3;
  font-weight: bold;
}
.head-dsn-4 {
  color: $basecolor1;
  font-family: $fontfamily;
  font-size: $fontsizeh4;
  font-weight: bold;
}

.head-dsn-5 {
  color: $basecolor1;
  font-family: $fontfamily;
  font-size: $fontsizeh5;
  font-weight: bold;
}

.text-dsn-1 {
  color: $basecolor1;
  font-family: $fontfamily;
  font-size: $fontsizep1;
}

.text-dsn-2 {
  color: $basecolor1;
  font-family: $fontfamily;
  font-size: $fontsizep2;
}

.text-dsn-3 {
  color: $basecolor1;
  font-family: $fontfamily;
  font-size: $fontsizep3;
}
