.head-dsn-1 {
  color: #031126;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: bold; }

.head-dsn-2 {
  color: #031126;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: bold; }

.head-dsn-3 {
  color: #031126;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: bold; }

.head-dsn-4 {
  color: #031126;
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: bold; }

.head-dsn-5 {
  color: #031126;
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: bold; }

.text-dsn-1 {
  color: #031126;
  font-family: "DM Sans", sans-serif;
  font-size: 12px; }

.text-dsn-2 {
  color: #031126;
  font-family: "DM Sans", sans-serif;
  font-size: 14px; }

.text-dsn-3 {
  color: #031126;
  font-family: "DM Sans", sans-serif;
  font-size: 16px; }
